// COLORS

$color-grey-light-1: #d3d3d3;
$color-grey-dark-1: #707070;
$color-white: #fff;

$color-primary: #23274a;
$color-secondary: #6c6f8b;
$color-tertiary: #383b59;
$color-checkbox-active: #4cd964;
$color-popup-transparent: rgba(0, 0, 0, 0.75);
